<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.wnebyte.workoutapp">

    <!-- defines a custom permission -->
    <permission android:name="com.github.wnebyte.workoutapp.PRIVATE"
        android:protectionLevel="signature" />
    <!-- declares that the application uses the below permissions -->
    <uses-permission android:name="com.github.wnebyte.workoutapp.PRIVATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".WorkoutApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkoutApp.Dark"
        android:fullBackupContent="@xml/backup_rules">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <nav-graph android:value="@navigation/mobile_navigation"/>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="properbackstack.com"
                    android:pathPrefix="/level1"
                    android:scheme="https"
                    />
                <data
                    android:host="properbackstack.com"
                    android:pathPrefix="/level1/level2"
                    android:scheme="https"
                    />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".ui.workout.NotificationReceiver"
            android:permission="com.github.wnebyte.workoutapp.PRIVATE"
            android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="com.github.wnebyte.workoutapp.SHOW_NOTIFICATION"/>
            </intent-filter>
        </receiver>
        <service android:name=".ui.workout.ForegroundService"
            android:exported="false"/>
    </application>

</manifest>